
    h2{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 35px;
    }
    h2:hover{
        color:#51a313;
    }
form {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    
}

.formControl {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.formControl label {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    color: #121212;
}

.formControl input,
.formControl textarea {
    font-size: 12px;
    border: 2px solid #87f57f;
    color: #080808;
    background-color: #f0eeee;
    padding: .5rem;
    border-radius: 15px;
    margin-top: 2%;
    margin-bottom: 2%;

}
.formControl input::placeholder,
.formControl textarea::placeholder {
    color: rgba(116, 74, 0, 0.463);
}

.formControl button {
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 5px 15px 10px 12px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    color: #fff5f5;
    border-radius: 15px;
    background-color: #0f1011;
}

.formControl button:hover {
    color: #6fff00;

}